name: Run tests

on:
  push:
    branches: [main]
  pull_request:

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Check out the repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Setup deno
        uses: denoland/setup-deno@e95548e56dfa95d4e1a28d6f422fafe75c4c26fb # v2.0.3

      - name: Check types
        run: deno check **/*.{ts,mts}

      - name: Check format
        run: deno fmt --check

      - name: Lint
        run: deno lint

      - name: Run tests
        run: deno test
